.image1 {
  top: 0;
  position: absolute;
  left: 0;
  width: 1519px;
  height: 830px;
  background: url("../картинки/Окно заказа.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.image2 {
  position: absolute;
  top: 50px;
  left: 85px;
  width: 33px;
  height: 23px;
  background: url("../картинки/бел кнопка.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
